<div [ngSwitch]="note">
  <img src="../assets/C4.png" *ngSwitchCase="'C4'">
  <img src="../assets/D4.png" *ngSwitchCase="'D4'">
  <img src="../assets/E4.png" *ngSwitchCase="'E4'">
  <img src="../assets/F4.png" *ngSwitchCase="'F4'">
  <img src="../assets/G4.png" *ngSwitchCase="'G4'">
  <img src="../assets/A4.png" *ngSwitchCase="'A4'">
  <img src="../assets/B4.png" *ngSwitchCase="'B4'">
  <img src="../assets/C5.png" *ngSwitchCase="'C5'">
  <img src="../assets/D5.png" *ngSwitchCase="'D5'">
  <img src="../assets/E5.png" *ngSwitchCase="'E5'">
  <img src="../assets/F5.png" *ngSwitchCase="'F5'">
  <img src="../assets/G5.png" *ngSwitchCase="'G5'">
</div>
<div *ngIf="visible">
  {{ note }}
</div>
<button (click)="!visible">Show</button>
<button (click)="nextNote()">Next</button>